/* Carrusel: ajustamos el tamaño de las imágenes para mejor responsividad */
.carousel-image {
  height: auto;
  max-height: 450px; /* Un poco más grande en pantallas grandes */
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

@media (min-width: 992px) {
  .welcome-title {
    font-size: 5.5rem;  /* Un poco más grande */
  }
  .welcome-text {
    font-size: 2rem;  /* Texto un poco más grande */
  }
  .carousel-image {
    max-height: 500px;  /* Imágenes más grandes para pantallas grandes */
  }
}

@media (max-width: 768px) {
  .welcome-title {
    font-size: 4rem;  /* Reducir un poco el tamaño */
  }
  .welcome-text {
    font-size: 1.7rem; /* Tamaño ajustado */
  }
  .carousel-image {
    max-height: 350px;  /* Imágenes más pequeñas en pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .welcome-title {
    font-size: 3.2rem; /* Reducción para pantallas pequeñas */
  }
  .welcome-text {
    font-size: 1.4rem;
  }
  .carousel-image {
    max-height: 300px; /* Ajuste más pequeño para móviles */
  }
}
