/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000; /* Fondo negro elegante */
    color: #FFD700; /* Letras doradas */
}

/* Barra de navegación */
.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: #FFD700;
    margin: 0 15px;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.navbar a:hover, .navbar a.active {
    color: #FFA500; /* Naranja para el hover y activo */
}

/* Encabezado */
header {
    text-align: center;
    padding: 20px;
    background-color: #222;
    border-bottom: 2px solid #FFD700;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Contenedor del mapa */
.map-container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/* Detalles del negocio */
.details {
    padding: 20px;
    text-align: center;
    background: #222;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
}

.details h2 {
    color: #FFA500; /* Naranja elegante */
    margin-bottom: 10px;
}

.details p {
    margin: 5px 0;
}

.map-button {
    background-color: #FFA500;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.map-button:hover {
    background-color: #FFD700;
    color: #333;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
    color: #FFD700;
    font-size: 0.9em;
}
